@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.montserrat-alternates-black {
    font-family: "Montserrat Alternates", serif;
    font-weight: 900;
    font-style: normal;
  }

.conteinerForSlider {
    width: 1000px;
    height: 1000px;
    overflow: hidden;

}

.wrapper {
    position: relative;
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 50px #dbdbdb;
    font-family: "Montserrat Alternates", sans-serif;
}

.wrapper .slide .card {
    width: 200px;
    height: 300px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 30px 50px #505050;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: .5s;
}

.wrapper .slide .card:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.slide .card:nth-child(2) {
    left: 50%;
}

.slide .card:nth-child(3) {
    left: calc(50% + 220px);
}

.slide .card:nth-child(4) {
    left: calc(50% + 440px);
}

.slide .card:nth-child(5) {
    left: calc(50% + 660px);
}

.slide .card:nth-child(6) {
    left: calc(50% + 880px);
}

.slide .card:nth-child(7) {
    left: calc(50% + 1100px);
}

.slide .card .content {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    display: none;
}

.slide .card:nth-child(1) .content {
    display: block;
}

.card .content .title {
    font-size: 40px;
    font-weight: 600; 
    opacity: 0;
    animation: anim 1s ease-in-out forwards;
}

.card .content .desc {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: anim 1s ease-in-out 0.3s 1 forwards;
} 

.card .content button {
    padding: 10px 20px;
    background: var();
    border-radius: 8px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: anim 1s ease-in-out 0.6s 1 forwards;
}

@keyframes anim {
    from{
        opacity: 0;
        transform: translateY(100px);
        filter: blur(33px);
    }  
    
    to{
        opacity: 1;
        transform: translateY(0px);
        filter: blur(0px);
    }  
}



.wrapper .btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
}

.btns button {
    width: 40px;
    height: 25px;
    margin: 0 5px;
    border-radius: 6px;
    border: solid 1px #000;
    cursor: pointer;
    transition: 0.3s;
}

.btns button:hover {
    background-color: #000;
    color: #fff;
}